body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header "
    "nav section"
    "footer footer";
	grid-template-rows: 80px 1fr 150px;
	grid-template-columns: 10% 1fr;
	grid-gap: 0px;
  height: 100vh;
  margin: 0px;  
  overflow: hidden;
  background-color: #fac2a6 !important;
}

header {
	background:#fac2a6;
	grid-area: header;
	font-family: Georgia, serif;
	font-size: 50px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #b3adbf;
  text-shadow: 2px 2px 2px #1C6EA4;
  border-bottom: none !important;
}

nav {
	background: #c2c8ff;
	grid-area: nav;
	font-family: Georgia, serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #C9BFBF;
	text-shadow: 2px 2px 2px #1C6EA4; 
}

nav a {
	text-decoration: none;
}


section {
	background: #c2c8ff;
	grid-area: section; 
	font-family: Georgia, serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color:  #900C3F;   
	text-shadow: 2px 2px 2px #1C6EA4;
	
}

/*Cart icon for header */
#cart {
	float: right;
}

/* USUAL STUFF */
body { margin:10px auto; text-align:center; }
.content { max-width:800px;text-align:left; margin:auto; }

#user {
	margin-left: 80%;

}

/*This is the user icon that lives in the header */
#user {
	margin-left: 90%;
	position: relative;
	top: -75px;
	/* border: 1px solid red; */
  
  }
  /*Jellyfish Logo */
  #logo {
	/* margin-right: 1%; */
	/* border: 1px solid red; */
	background-color: #fcdfa2d3;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-right: 90%;
	margin-top: 0.1%;
  }
  /*Facebook icon for footer*/
  #fb {
	  margin-left: auto;
	  margin-right: auto;
  }
  /*Instagram icon for footer*/
  #insta {
	  margin-left: auto;
	  margin-right: auto;
  }
  /*Twitter icon for footer */
  #twitter {
	  margin-left: auto;
	  margin-right: auto;
  }
  /*Cart icon for header*/
  #cart {
	position: relative;
	top: -75px;
	/* border: 1px solid red; */
  }
/*This is the block that displays the carts contents */
.paymentblock {
	width: 750px;
	height: 400px;
	border: 3px solid  #1C6EA4;
	display: block;
	margin: 0 auto;
	text-align: left;
	margin-top: 5%;
	padding: 15px;
}
/*This is the styling for the paragraph inside the cart*/ 
.paymentblock p {
	font-family: Georgia, serif;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #900C3F;
	text-shadow: 2px 2px 2px #1C6EA4;
}
/*The image inside the cart*/
.paymentblock img {
	height: 200px;
	width: 150px;
	border: 2px solid grey;
}
/*The checkout button*/
#button {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 16px;
	padding: 6px; 
	border-radius: 10px; 
	font-family: Georgia, serif; 
	font-weight: normal; 
	text-decoration: none; 
	font-style: normal; 
	font-variant: normal; 
	text-transform: none; 
	background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
	box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
	border: 2px solid rgb(28, 110, 164); 
	display: inline-block;
}
	#button:hover {
	background: #1C6EA4; }

	#button:active {
	background: #144E75; }
/*The Browse button*/
	#button {
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 16px;
		padding: 6px; 
		border-radius: 10px; 
		font-family: Georgia, serif; 
		font-weight: normal; 
		text-decoration: none; 
		font-style: normal; 
		font-variant: normal; 
		text-transform: none; 
		background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
		box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
		border: 2px solid rgb(28, 110, 164); 
		display: inline-block;
		float: right;
		
	}
		#button:hover {
		background: #1C6EA4; }
	
		#button:active {
		background: #144E75; }
/* The checkbox for giftwrapping*/
.container {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		  }

/* USUAL STUFF */
body { margin:10px auto; text-align:center; }
.content { max-width:800px;text-align:left; margin:auto; }

footer {
	background:#fac2a6;
	grid-area: footer;
	font-family: Georgia, serif;
	font-size: 10px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #001133;
	text-shadow: 2px 2px 2px #1C6EA4;
	position: bottom;
	position: sticky;
	bottom: 0em;
	border-top: none !important;
}

		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			transition: 0.5s;
			grid-area: nav;
		  }
		  
		  .sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 15px;
			font-family: Georgia, serif;
			padding-top: 5px;
			letter-spacing: 0.5px;
			  word-spacing: 1px;
			  text-align: center;
			  color: #7CB9E8;
			text-shadow: 2px 2px 2px #1C6EA4;
			display: block;
			transition: 0.3s;
		  }
		  
		  .sidenav a img {
			width: 15%;
			height: 15%;
			padding: 5%;
			/* border: 1px solid red; */
			margin-right: 100%;
		  }
		  
		  #title-menu {
			/* border: 1px solid blue; */
			width: 10%;
			position: absolute;
			margin-left: 30%;
			margin-top: 5%;
		  }
		  
		  .sidenav a:hover, .offcanvas a:focus{
			color: #f1f1f1;
		  }
		  
		  .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px !important;
			margin-left: 50px;
		  }
		  
		  #main {
			transition: margin-left .5s;
			padding: 16px;
			background-color: #c2c8ff;
		  }
		  
		  @media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		  }
		  
		  #new-title {
			color: black;
		  }