.Title {
   color: #c9b8f2;
   text-align: center;
   font-size: 50px;
   font-weight: 700;
}
.who {
    color: #ffed81;
    text-align: center;
    font-size: 500;
    font-weight: 700;
}
.desc1 {
    color: #ffed81;
    text-align: center;
    font-size: 500;
    font-weight: 700;
}
body {
    
     background: no-repeat url("https://i.pinimg.com/originals/ab/58/cc/ab58cc75dcb2e42555cf7e614216350a.jpg") 
     
   
     
}
.desc2 {
    color: #ffed81;
    text-align: center;
    font-size: 500;
    font-weight: 700;
}
.desc3 {
    color: #ffed81;
    text-align: center;
    font-size: 500;
    font-weight: 700;
}
.cover { 
    animation:myanim 3s;
     animation-iteration-count: 1;
     animation-timing-function: ease;
     height: 500px;
     /* background-color: #FF0; */
}
    .welcome-img  {
        margin-top: 5rem;
        width: 450px;
        height: auto;
        border-radius: 50%;
    }
    @media screen and (max-width: 50px){
        li a { padding: 0.1px;}

    }


    

    
  